<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/select-source-or-subject-style.css">
    <title>Chose a subject</title>
</head>
<body>
<h2 class="h2">Какая тематика Вас интересует?</h2>

<form th:method="GET" th:action="@{/news-by-subject}" th:object="${subjects}" class="form">
    <select th:name="subject">
        <option value="0">Выберите тематику</option>
        <option th:each="subject : ${subjects}" th:value="${subject}" th:text="${subject}"></option>
    </select>
    <input type="submit" value="Выбрать">
</form>
<br>

<a th:href="@{/}" class="button">
    <input type="button" value="Назад">
</a>
</body>
</html>
</body>
</html>